[Unit]
Description=manage state changes between rndis and mtp
Requires=lxc@android.service
After=lxc@android.service

[Service]
ExecStartPre=-chown furios:furios /dev/mtp_usb
ExecStart=/usr/sbin/mtp-configfs

[Install]
WantedBy=graphical.target
