[Unit]
Description=Manage USB state changes between RNDIS, MTP and None (disable configfs)
Requires=lxc@android.service
After=lxc@android.service

[Service]
Type=dbus
BusName=io.FuriOS.USBConfig
ExecStartPre=-/usr/bin/chown furios:furios /dev/mtp_usb
ExecStart=/usr/sbin/mtp-configfs

[Install]
WantedBy=graphical.target
